*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(150deg, #3c86b6, #803d9b);
    padding: 10px;
}


.todo-app{
    width: 100%;
    max-width: 500px;
    background: #fff;
    border-radius: 5px;
    margin: 50px auto 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition-duration: 1000ms;
}

.todo-app h1{
    /* font-size: 24px; */
    color: #333;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    transition-duration: 1500ms;
}

.inputs{
    width: 100%;
    max-width: 500px;
    background: #fff;
    border-radius: 5px;
    margin: 50px auto 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    transition-duration: 2000ms;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 20px;
    padding-left: 10px;
    margin-bottom: 15px;
    transition-duration: 2000ms;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    transition-duration: 500ms;
    
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #6856a4;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    transition-duration: 1000ms;
}
button:hover{
    background: #4d4079;
    /* font-style: bold; */
    transition-duration: 100ms;
}

#message{
    position: absolute;
    top: 180px;
    color: red;
    font-size: 14px;
    margin-top: 10px;
}


.tasks{
    width: 100%;
    max-width: 500px;
    background: #fff;
    border-radius: 5px;
    margin: 20px auto 20px;
    padding: 20px 45px 20px;
    box-shadow: 0 0 50px rgba(104, 86, 164, 0.9);
    transition-duration: 1000ms;
    display: none;
    user-select: none;
}

ul li{
    list-style: none;
    width: 95%;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    left: -25px;    
    top: 50%;
    transform: translateY(-56%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    background-image: url(images/uncheck-symbol-4795\ \(1\).png);
    background-size: cover;
    background-position: center;

}

ul li:hover{
    background: rgb(104, 86, 164, 0.2);
    transition-duration: 600ms;
}

ul li.checked{
    color: #6856a4;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/check-symbol-4795.png);
}

ul li span{
    position: absolute;
    right: -30px;
    top: 5px;
    width: 30px;
    height: 30px;
    font-size: 22px;
    color: red;
    line-height: 30px;
    text-align: center;
}

ul li span:hover{
    background: rgba(255, 0, 0, 0.5);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    transition-duration: 300ms;
}